<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>第2頁</title>
    </head>
    <style>
        .a1{
            text-align:center ;
        }
        .a2{
            font-size: 25;
            text-align: left;
        }
    </style>
    <body class="a1">
        <h1>名言</h1>
        <br>
        <h3>名言</h3>
        <p>今起，巡視淫影之作，見一cos，貌姣好，身曼妙，本欲以此段作尻。<br>然莆按下起始，驀見該影戲子胯下男根，即縮吾屌，退之，數刻留悸。</p>
        <br>
        <p>“我将违背我的本能 忤逆我的天性 永远爱你”<br>

            “那我將放下滿天的星 捨去那夜的月 永遠愛你”</p>
        <br>
        <p>男女生殖器官，可愛者甚蕃：晉陶淵明獨愛菊，自遠古來，女人盛愛老鷹。<br>予獨愛鮑之被中出而不吟，被摸摸而高潮。<br>中通外鮑，鮮嫩多汁；香遠益清，男人愛之，可插之而不可舔之焉。<br>

            予謂：菊，花之被插者也；老鷹，鳥之晨安者也；鮑，魚之海產店也。<br>唉！菊之愛，陶後鮮有聞。<br>鮑之愛，同予者何人？老鷹之愛，宜乎眾矣！</p>
        
        <a href="text.html" class="a2">第1頁</a>

        <script src=""></script>
    </body>
</html>